* {
    box-sizing: border-box;
    
  }
  

  .body-content {
    font-family: Arial;
    padding: 5%;
    background: #bfa0ff;
  }
  

  .card {
    background-color: #8623F1;
     padding: 10px;
     margin-left: 25%;
     margin-right: 25%;
     text-align: center;
     border-radius: 20px;
     width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }