.login {

    margin-left: 400px !important;
}
.image-color{
    background-image: linear-gradient(#4523E8,#8623F1,#A826F8,#bfa0ff);
}
.logo{
    height: 90px;
    width: 90px;
    object-fit: cover;
}