<%- include ('../presetsViews/header',{title: 'Recuperar Contraseña',login:null}) %>
    <link rel="stylesheet" href="/css/signin.css">
    <div>
        <main class="form-signin">
            <form id="loginForm" action="/auth/forgot-password" method="POST">
                <img
                    class="mb-4"
                    src="/img/logo.svg"
                    alt="logo"
                    width="80"
                    height="67"
                />
                <h1 class="h3 mb-3 fw-normal">Recuperar Contraseña</h1>

                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        placeholder="Correo Electronico"
                    />
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Recuperar Contraseña
                </button>
                <a href="/auth/register" type="button">Registrarse</a>
                <hr />
                <p>
                    Para iniciar sesion has
                    <a href="/auth/login">click aqui</a>
                </p>
            </form>
        </main>
    </div>
<%- include ('../presetsViews/footer') %> 