<%- include ('../presetsViews/header',{title: 'Recuperar Contraseña',login:null}) %>
<form action="" method="post">
    <label for="">Correo electronico</label>
    <input type="email" name="email" id="" placeholder="Correo electrónico"/>
    <input type="submit" value="Recuperar Contraseña"/>
    <a href="/auth/register">Registrarse</a>
    <a href="/auth/login">Iniciar sesion</a>
</form>
<%- include ('../presetsViews/footer') %> 