<%- include ('../presets/header',{title: 'Recuperar Contraseña'}) %>
<form action="" method="post">
    <label for="">Correo electronico</label>
    <input type="email" name="email" id="" placeholder="Correo electrónico"/>
    <input type="submit" value="Recuperar Contraseña"/>
</form>
<%- include ('../presets/footer') %> 