<%- include ('../presetsViews/header',{title:'Registrarse',login:null}) %>
<form action="/auth/register" method="post">
    <label for="">Nombre de usuario</label>
    <input type="text" name="username" id="" placeholder="Nombre de usuario"/>
    <label for="">Correo Electronico</label>
    <input type="email" name="email" id="" placeholder="Correo Electronico"/>
    <label for="">Contrase単a</label>
    <input type="password" name="password" id="" placeholder="Contrase単a"/>
    <label for="">Confirma Contrase単a</label>
    <input type="password" name="confirmPassword" id="" placeholder="Confirma Contrase単a"/>
    <input type="submit" value="Registrarse"/>
    <a href="/auth/login">Iniciar sesion</a>
</form>
<%- include ('../presetsViews/footer') %> 