<select name="country" class="form-select mb-1">
    <option value="">Selecciona tu pais residencial</option>
    <option value="DE">Alemania</option>
    <option value="AD">Andorra</option>
    <option value="AR">Argentina</option>
    <option value="AU">Australia</option>
    <option value="AT">Austria</option>
    <option value="BS">Bahamas</option>
    <option value="BE">Bélgica</option>
    <option value="BY">Bielorrusia</option>
    <option value="BO">Bolivia</option>
    <option value="BR">Brasil</option>
    <option value="BG">Bulgaria</option>
    <option value="CA">Canadá</option>
    <option value="CL">Chile</option>
    <option value="CN">China</option>
    <option value="CO">Colombia</option>
    <option value="KR">Corea del Sur</option>
    <option value="CR">Costa Rica</option>
    <option value="HR">Croacia (Hrvatska)</option>
    <option value="DK">Dinamarca</option>
    <option value="EC">Ecuador</option>
    <option value="SV">El Salvador</option>
    <option value="ES">España</option>
    <option value="US">Estados Unidos</option>
    <option value="EE">Estonia</option>
    <option value="FI">Finlandia</option>
    <option value="FR">Francia</option>
    <option value="GE">Georgia</option>
    <option value="GH">Ghana</option>
    <option value="GR">Grecia</option>
    <option value="GL">Groenlandia</option>
    <option value="GT">Guatemala</option>
    <option value="HN">Honduras</option>
    <option value="HU">Hungría</option>
    <option value="IN">India</option>
    <option value="ID">Indonesia</option>
    <option value="IE">Irlanda</option>
    <option value="IS">Islandia</option>
    <option value="IT">Italia</option>
    <option value="JM">Jamaica</option>
    <option value="JP">Japón</option>
    <option value="MA">Marruecos</option>
    <option value="MX">México</option>
    <option value="NI">Nicaragua</option>
    <option value="NG">Nigeria</option>
    <option value="NO">Noruega</option>
    <option value="NZ">Nueva Zelanda</option>
    <option value="NL">Países Bajos</option>
    <option value="PA">Panamá</option>
    <option value="PY">Paraguay</option>
    <option value="PE">Perú</option>
    <option value="PL">Polonia</option>
    <option value="PT">Portugal</option>
    <option value="PR">Puerto Rico</option>
    <option value="UK">Reino Unido</option>
    <option value="DO">República Dominicana</option>
    <option value="RU">Rusia</option>
    <option value="SN">Senegal</option>
    <option value="SE">Suecia</option>
    <option value="CH">Suiza</option>
    <option value="TH">Tailandia</option>
    <option value="TW">Taiwán</option>
    <option value="TR">Turquía</option>
    <option value="UA">Ucrania</option>
    <option value="UY">Uruguay</option>
    <option value="VE">Venezuela</option>
</select>