<select class="form-select mb-1" aria-label="Default select example" name="developer">
    <option selected value="">Selecciona el desarrollador</option>
    <option value="ubisoft">Ubisoft</option>
    <option value="rockstar">Rockstar</option>
    <option value="blizzard">Blizzard</option>
    <option value="activision">Activision</option>
    <option value="riot">Riot</option>
    <option value="ea">Electronics Arts</option>
    <option value="epicgames">Epic Games</option>
    <option value="microsoft">Microsoft</option>
    <option value="bigpoint">Big Point</option>
    <option value="pubgstudios">Pubg Studios</option>
  </select>