<select class="form-select mb-1" aria-label="Default select example" name="gameType">
    <option selected value="">Selecciona la categoria</option>
    <option value="battleroyale">Battle Royale</option>
    <option value="deportes">Deportes</option>
    <option value="mmo">MMO</option>
    <option value="rpg">RPG</option>
  </select>