<select class="form-select mb-1" aria-label="Default select example" name="game">
    <option selected value="">Selecciona el juego</option>
    <option value="darkorbit">Dark Orbit</option>
    <option value="lol">Lol</option>
    <option value="gta5">Gta 5</option>
    <option value="wow">World of warcraft</option>
    <option value="warzone">Call Of Dutty:Warzone</option>
    <option value="fortnite">Fortnite</option>
    <option value="pubg">PUBG</option>
    <option value="apex">Apex</option>
    <option value="forzah5">Forza Horizon 5</option>
    <option value="valorant">Valorant</option>
    <option value="fifa23">Fifa 23</option>

  </select>