<html>
    <% if (!login) { %> <%- include('../presetsViews/header',{title:
    'PayTooWin',login:null}) %> <% }else{ %> <%-
    include('../presetsViews/header',{title:
    'PayTooWin',login:true,username:login.username}) %> <% } %>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/terminos.css" />
    </head>
    <body>
        <div class="body-content">
            <div class="header">
                <h1>Nosotros <img
                    class="mb-4"
                    src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1665954342/PTW/LogoPTW_Logo_PTW_gouqmx.svg"
                    alt="logo"
                    width="200"
                    height="187"
                /></h1>
            </div>

            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h3 style="text-align: center;"><br>
                            Nuestra Historia
                        </h3><br>
                        <p>
                            PayTooWin es una empresa nacida con la idea de poder comprar y vender tus cuentas del videojuego DarkOrbit dentro 
                            de una fanpage dedicada a esto, pero, gracias a su éxito, su dueño quizó aspirar a más y emprender con un objetivo
                            de no límitar su nicho y expandirse mucho más allá que solo un juego y una plataforma. Con esta meta comienza el 
                            desarrollo 2.0 de DarkOrbit (tienda) y se rebautiza con el nombre de PayTooWin.
                            <br><br>
                            PayTooWin tiene como objetivo la misma premisa que su anterior versión, pero sin límite de títulos o plataformas;
                            vendiendo o comprando cuentas de videojuegos que ya no uses o bien que desees obtener una ganancia de ellas. 
                            Además, en PayTooWin puedes comprar de nuestro extenso catálogo 
                            y elegir la cuenta que más sea de tu gusto con las características a tu medida.
                        </p><br>
                        <img src="img/PTW_imagen.png" class="img-fluid" alt="...">
                    </div> 
                </div>
            </div>
        </div>
    </body>

    <%- include('../presetsViews/footer') %>
</html>