<%-include('../presetsViews/header',{title:
'Pago Exitoso',login:true,username:login.username})%>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./css/terminos.css" />
<div class="body-content">
    <div class="header">
        <h2>
            PAGO EXITOSO
            <img
                class="mb-4"
                src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1665954342/PTW/LogoPTW_Logo_PTW_gouqmx.svg"
                alt="logo"
                width="200"
                height="187"
            />
        </h2>

        <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
            Volver
        </button>
    </div>
</div>

<%- include('../presetsViews/footer') %>
