<% if (!login) { %> <%- include('../presetsViews/header',{title:
'PayTooWin',login:null}) %> <% }else{ %> <%-
include('../presetsViews/header',{title:
'PayTooWin',login:true,username:login.username}) %> <% } %>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./css/terminos.css" />
<div class="body-content">
    <div class="header">
        <h2>
            PAGO PENDIENTE
            <img
                class="mb-4"
                src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1668373787/PTW/pago_pendiente3_hfmtut.png"
                alt="logo"
                width="200"
                height="187"
            />
        </h2><hr><br>

        <h3>
            Espera mientras tu pago es verificado. Serás notificado cuando esto suceda
        </h3><br>

        <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
            Volver
        </button>
    </div>
</div>

<%- include('../presetsViews/footer') %>
