<%-include('../presetsViews/header',{title:
'Pago Exitoso',login:true,username:login.username})%>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./css/terminos.css" />
<div class="body-content">
    <div class="header">
        <h2>
            
            <img
                class="mb-4"
                src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1668369755/PTW/Paypal_2014_logo_fcioq2.png"
                alt="logo"
                width="200"
                height="187"
            />
        </h2>

        <h2>
            PAGO EXITOSO
            <img
                class="mb-4"
                src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1668371273/PTW/Pago-exitoso_pc6vqs.png"
                alt="logo"
                width="10%"
                height="10%"
            />
        </h2>
        

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <h3 style="text-align: center;">
                        Subtotal $ <hr>
                        Comisión $ <hr>
                        Total $
                    </h3>
                    <h3>
                        
                    </h3>
                                      
                </div> 

            </div>
        </div>

        <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
            Volver
        </button>
    </div>
</div>

<%- include('../presetsViews/footer') %>
