<%-include('../presetsViews/header',{title:
'Pago Exitoso',login:true,username:login.username})%>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="./css/terminos.css" />
<div class="body-content">
    <div class="header">
        

        <h2>
            Estado de Pago
            <img
                class="mb-4"
                src="https://res.cloudinary.com/dfbisj1ch/image/upload/v1668375821/PTW/estado-pago_wajtil.png"
                alt="logo"
                width="10%"
                height="10%"
            />
        </h2>

      

        
            <div class="d-flex justify-content-center align-items-center mb-5">
                <div class="card">
                    <h6 class="mb-0 text-muted">Estado de pago</h6><hr>
                    <h6 class="mb-0 text-muted">ID Producto</h6><hr>
                    <h6 class="mb-0 text-muted">Su pago fue realizado exitosamente</h6><hr>
                    <h6 class="mb-0 text-muted">Producto</h6><hr>
                    <h3 class="mb-0 text-muted">Total</h3>
                    
                                      
                </div> 

            </div>
        

        <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
            Volver
        </button>
    </div>
</div>

<%- include('../presetsViews/footer') %>
